<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Страница логина.
-->
{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <p>Войти как</p>
    <p>
        <a href="{{ url_for('auth.login_tallier') }}">ЦИК</a>
        <br>
        <a href="{{ url_for('auth.login_voter') }}">Избиратель</a>
    </p>
    {% if not tallier_registered %}
        <p><a href="{{ url_for('auth.register_tallier') }}">Зарегистрироваться как ЦИК</a></p>
    {% endif %}
{% endblock %}
