<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Страница регистрации ЦИКа.
-->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Зарегистрироваться</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
