<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Страница ошибки 404.
-->
{% extends "base.html" %}

{% block app_content %}
    <h1>404 - Не найдено:(</h1>
    <p><a href="{{ url_for('main.index') }}">Назад</a></p>
{% endblock %}
