<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Страница ошибки 500.
-->
{% extends "base.html" %}

{% block app_content %}
    <h1>Неизвестная ошибка.</h1>
    <p>Администратор уведомлён и разберётся. Спасибо за понимание!</p>
    <p><a href="{{ url_for('main.index') }}">Назад</a></p>
{% endblock %}
