/* css-свойства объектов страницы бюллетеня */

table {
    border: 0.1em solid grey;
    margin-bottom: 1em;
}

th, td {
    border: 0.1em solid grey;
    padding: 1em;
}

.bulletin-main .headtext:first-of-type {
    margin-bottom: 3em;
}

.bulletin-main .headtext:last-of-type {
    margin-bottom: 1em;
}

.headtext {
    text-align: center;
    font-style: italic;
}

.bulletin-header {
    text-align: center;
    font-size: 1.2em;
}