/* css-свойства объектов страницы результатов */

.votes,
.percentage {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1em;
}

.votes {
    border: 0.1em solid grey;
}

.table-percentage {
    margin: 4em;
}

.percentage th,
.percentage td {
    border: transparent;
}

.percentage td {
    font-size: 2em;
}

.percentage th:last-of-type,
.percentage td:last-of-type {
    text-align: center;
}

th, td {
    border: 0.1em solid grey;
    padding: 1em;
}

.headtext {
    text-align: center;
    font-style: italic;
}

.bulletin-header {
    text-align: center;
    font-size: 1.2em;
}

.votes th:first-of-type {
    width: 25%;
}

.votes th:last-of-type {
    width: 75%;
}

.votes td:last-of-type {
    font-family: monospace;
    color: gray;
    word-wrap: break-word;
}