<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Страница реакции на повторную попытку голосования.
-->
{% extends "base.html" %}

{% block app_content %}
    <h1>Вы уже проголосовали!</h1>
    <p>Ознакомиться с результатами Вы сможете после окончания голосования.</p>
{% endblock %}