<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Страница бюллетеня.
-->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{%- block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulletin.css') }}">
{%- endblock styles %}


{% block app_content %}
<div class="bulletin-main">
    <div class="headtext">Федеральное государственное бюджетное образовательное учреждение<br>
        высшего образования<br>«Тамбовский государственный технический университет»<br>
        (ФГБОУ ВО «ТГТУ»)
    </div>


    <div class="headtext bulletin-header ">БЮЛЛЕТЕНЬ</div>
    <div class="headtext">для тайного голосования по избранию состава Ученого совета ТГТУ на Конференции работников и обучающихся ФГБОУ ВО «ТГТУ», проводимой {{ ru_date }} года</div>

    <table>
        <tr>
            <th>NN</th>
            <th>Фамилия, имя, отчество кандидата</th>
            <th>Должность или статус кандидата</th>
            <th>Структура, рекомендовавшая кандидата (структурное подразделение, cтудсовет или представительный орган)</th>
        </tr>
        {% for candid in candidates %}
        <tr>
            <td>{{ candid['id'] }}</td>
            <td>{{ candid['name'] }}</td>
            <td>{{ candid['status'] }}</td>
            <td>{{ candid['department'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{% endblock %}