<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Страница реакции на сделанный голос.
-->
{% extends "base.html" %}

{% block app_content %}
    {% if current_user.username == tallier %}
        <h1>Выборы начались!</h1>
    {% else %}
        <h1>Спасибо за участие!</h1>
    {% endif %}
    <p>Ознакомиться с результатами Вы сможете после окончания голосования.</p>

{% endblock %}