<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Страница результатов.
-->
{% extends "base.html" %}

{%- block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
{%- endblock styles %}

{% block app_content %}

<div class="headtext">Результаты голосования</div>


<div class="table-percentage">
    <table class="percentage">
        <tr>
            <th></th>
            <th>Процент проголосовавших "за" (Проголосовало {{ count_voted }} человек)</th>
        </tr>
        {% for i in percentage %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ percentage[i] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="table-votes">
    <table class="votes">
        <tr>
            <th>Фамилия, имя, отчество кандидата</th>
            <th>Отданные голоса</th>
        </tr>
        {% for i in votes_dict %}
            {% if votes_dict[i]|length == 0 %}
                <tr>
                    <td>{{ i }}</td>
                    <td class="longstring"></td>
                </tr>
            {% endif %}
            {% if votes_dict[i]|length == 1 %}
                <tr>
                    <td>{{ i }}</td>
                    <td class="longstring">
                        {{ votes_dict[i][0] }}
                    </td>
                </tr>
            {% endif %}
            {% if votes_dict[i]|length > 1 %}
                <tr>
                    <td>{{ i }}</td>
                    <td class="longstring">
                        {{ votes_dict[i][0] }}
                    </td>
                </tr>
                {% for j in votes_dict[i][1:] %}
                    <tr>
                        <td></td>
                        <td class="longstring">
                            {{ j }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock %}