<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Базовая страница, содержит хедер и футер, эта часть отрисовывается на всех других страницах.
-->
{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - CryptoVoting
    {% else %}
        CryptoVoting
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">CryptoVoting</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                    {% else %}
                        {% if current_user.username != 'tallier' and app.timer.is_alive() %}
                            <li><a href="{{ url_for('voting.bulletin') }}">Перейти к голосованию</a></li>
                        {% endif %}
                        {% if app.voting_finished %}
                            <li><a href="{{ url_for('voting.results') }}">Результаты</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

{% endblock %}
