<!--
HTML-код страниц. Для генерации и добавления динамического содержимого
используется библиотека Jinja
Стартовая страница.
-->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if user.username == 'tallier' %}
        <h1>Подача списков</h1>
    {% else %}
        <h1>Вы зарегистрированы как {{ user.username }}.</h1>
    {% endif %}
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
{% endblock %}
